.header {
  height: 60px;
  padding: 0 50px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px; }

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0; }

.nav__link {
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  padding: 1.9em 0;
  position: relative;
  margin-left: 20px;
  font-weight: 500;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.nav__link:hover {
  color: var(--active-color); }

.nav__link.is-active {
  color: var(--active-color);
  margin-left: 0; }

.nav .is-active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--active-color);
  border-radius: 8px; }

.nav.nav__item:last-child .nav__link {
  margin-left: 0; }

.card {
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 30px 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 11px;
  margin-bottom: 2px; }
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 48px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto; }
  .card:hover {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07); }
  .card__header, .card__content {
    width: 170px; }
  .card__image {
    width: 160px;
    height: 134px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
    .card__image:hover {
      border: 3px solid #f3f3f3;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      margin: -15px -3px;
      padding: 12px 0;
      border-radius: 4px; }
    .card__image-wrapper {
      margin: 0 auto;
      margin-bottom: 45px;
      width: 160px;
      height: 134px; }
  .card__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 5px; }
  .card__code {
    margin-bottom: 15px; }
  .card__price-tag, .card__reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
  .card__price-tag {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .card__money {
    font-weight: bold;
    font-size: 16px; }
  .card__buy-button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 170px;
    height: 40px;
    text-transform: uppercase;
    color: white;
    background: var(--active-color);
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    border: 1px solid var(--active-color);
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s; }
    .card__buy-button:hover {
      color: var(--active-color);
      background-color: white; }

.stars {
  display: grid;
  grid-template-columns: repeat(5, 15px);
  grid-gap: 4px; }
  .stars__item {
    width: 15px;
    height: 15px;
    background-image: url("../images/star.svg");
    background-position: center;
    background-repeat: no-repeat; }

.stars--4 .stars__item:nth-child(-n+4) {
  background-image: url("../images/star-active.svg"); }

:root {
  --active-color: #00acdc; }

html {
  font-size: 12px;
  font-family: Roboto, sans-serif; }

body {
  margin: 0; }

/*# sourceMappingURL=main.css.map */
